
body{
    padding: 0;
    margin: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}
.main{
    padding: 0px;
    margin: 0px;
}
.title{
    padding-top: 90px;
    text-align: center;
}
.title .Btn{
    margin-top: 20px;
    margin-left: 30px;
    
}
header a{
    color: rgb(252, 248, 248);
    font-size: 30px;
}
 header{
    background-image:linear-gradient(45deg, #f0cfe529,rgba(234, 119, 119, 0.5) ) ,url(-justice\ bg.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
 } 
.main{
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    max-width: 1000px;
    font-size: 20px;
}
.main1{
    text-align: center;
    background-color: rgb(105, 151, 136);
    font-size: 35px;
}
.main2{
    font-size: 25px;
    
}

ul{
  float: right;
  margin-top: 20px;
  list-style-type: none;
  
}
ul li{
    display: inline-block;
    padding: 20px;
}
.button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform:translate(-50%,-50%) ;
}

.Btn{
    border: 3px solid rgb(15, 1, 1);
    border-radius:20px ;
    padding: 10px 10px;
    color: rgb(78, 78, 24);
    text-decoration: none;
    transition: 0.5s ease;
}
.Btn:hover{
    background-color:rgba(244, 228, 7, 0.768);
    color: rgb(12, 12, 12);
 
 }

ul li a:hover{
    background-color:rgba(238, 244, 240, 0.849);
    color: rgb(35, 6, 6);
    margin: 0px;
    padding: 10px;
}
.para{
    background-color: rgb(132, 197, 175);
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
.para1{
    font-size: 25px;
    text-align: center;
}


.reg{

        background-image:  url("carousel-3.jpg");
        height: 100vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
       background-size: cover;
       opacity: 95%; 
           
 }
.reg{
            background-color:rgba(87, 59, 59, 0.5);
            width: 100%;
           
            border-radius: 10px;
            border: 5px solid rgba(239, 101, 101, 0.3);
            padding: 40px;
            text-align: center;
            font-size: 25px;
}
.content form input{
    width: 150px;
    height: 25px;
    text-decoration: solid rgb(7, 6, 6);
    text-decoration-color: #fff;
}
.content{
    background-color:rgba (41,39,39,0.3);
    box-shadow: 0px 5px 30px rgb(247, 243, 243);
    padding: 30px;
    margin-left: 100px;
    border-radius: 30px;
    width: 40%;
    backface-visibility:50%;
    color:rgb(247, 147, 8);
    float: center;
    border: 4px solid rgb(224, 23, 23);
    
}

.law table,td,th{
    border: 4px solid rgb(220, 67, 67);
    border-style: double;
    text-align: left;
}
.Attys{
    background-color: rgb(46, 121, 196);
    
}
.final {
    justify-content: center;
    background-color: rgb(233, 98, 98);
    width: 100%;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

.footer{
    background-color:  rgb(233, 108, 108);
    text color: #000;
    
    width: 100%;
    display: flex;
   padding: 50px 2%;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 0.5;
}
.footer div h3{
    justify-content: center;
    font-weight: 350px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration-line: none;
    color: antiquewhite;
    margin-bottom: 10px;
}
 .col-2 form input{
    width: 200px;
    height: 45px;
    border-radius: 4px;
    text-align:center ;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border:none;
}
.col-2 form button{
    background: transparent;
    border: 2px solid #fff;
    color:#fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.col-2 form button:hover{
        background-color:rgba(244, 228, 7, 0.768);
        color: rgb(12, 12, 12);
}
.social-icons i{
    font-size: 40px; 
    margin: 10px;
    cursor: pointer;
}
.col-3{
    flex-grow:0.3;
}

